<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Group Chat</title>

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <ul id="chat_messages"> </ul>
    <form action="/" method="POST" id="chat_form">
      <input id="insert_chat_message" autocomplete="off" autofocus="on" placeholder="Type a message!" /><button>Send Message</button>
    </form>
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    var ws = new WebSocket('ws://localhost:40510');
    var userName = prompt("What is your username?");

    ws.onopen = function () {
        console.log('websocket is connected ...')
        var msg = {
          "userName": userName,
          "msg": userName + " Connected",
          "type": "init"
        }
        ws.send(JSON.stringify(msg))
    }

    ws.onmessage = function(evt){
      console.log(evt, "SERVER")
      msg = evt.data
      msg = JSON.parse(msg);
      if (msg["userName"] == "Server"){
        $('#chat_messages').append($('<li>').html('<i>'+msg["msg"]+'</i>'));
      }else{
        $('#chat_messages').append($('<li>').html('<strong>' + msg["userName"] + ':</strong>' +" "+msg["msg"]));
      }
    };

    
    // Jquery
    $('#chat_form').submit(function (e) {
      console.log("client - message sent", $('#insert_chat_message').val())
      e.preventDefault();

      var msg = {
        "userName": userName,
        "msg": $('#insert_chat_message').val()
      }

      console.log(msg)
      ws.send(JSON.stringify(msg))
      $('#insert_chat_message').val('');
      return false;
    });

</script>
</html>

