<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Group Chat</title>

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <ul id="chat_messages"></ul>
    <form action="/" method="POST" id="chat_form">
      <input id="insert_chat_message" autocomplete="off" autofocus="on" placeholder="Type a message!" /><button>Send Message</button>
    </form>
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../../socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost:3000');
    var userName = prompt('당신이 채팅방에 참여할 이름을 입력해주세요.');
    socket.emit('userName', userName);
    
    $('#chat_form').submit(function (e) {
        e.preventDefault();
        socket.emit('chatMessage', $('#insert_chat_message').val());
        $('#insert_chat_message').val('');
        return false;
    });
    socket.on('chatNotification', function (userName) {
      $('#chat_messages').append($('<li>').html(userName));
    });
    socket.on('chatMessage', function (message) {
      $('#chat_messages').append($('<li>').html(message));
    });
</script>
</html>